body, html {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    line-height: 100px;
}

#red, #yellow, #cyan, #magenta, #purple, #blue, #green, #pink {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}


#red {
    background:red;
}

#yellow {
    background:yellow;
}

#cyan {
    background:cyan;
}

#magenta {
    background:magenta;
}

#purple {
    background:purple;
}

#blue {
    background:blue;
}

#green {
    background:green;
}

#pink {
    background:pink;
}
