body, html {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    line-height: 60px;
    color: white;
}

h1:hover {
    cursor: default;
}

#buttonQ, #buttonW, #buttonE, #buttonA, #buttonS, #buttonD, #buttonZ, #buttonX, #buttonC {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    background-image: url("./images/button_default.png");
    background-size: 150px;
    background-repeat: no-repeat;
}

#buttonQ:active, #buttonW:active, #buttonE:active, #buttonA:active, #buttonS:active, #buttonD:active, #buttonZ:active, #buttonX:active, #buttonC:active {
    background-image: url("./images/button_pressed.png");
}