body, html {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    line-height: 60px;
    color: white;
}

h1:hover {
    cursor: default;
}

#buttonA, #buttonB, #buttonC, #buttonD, #buttonE, #buttonF, #buttonG, #buttonH {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    background-image: url("./images/button_default.png");
    background-size: 150px;
    background-repeat: no-repeat;
}

#buttonA:active, #buttonB:active, #buttonC:active, #buttonD:active, #buttonE:active, #buttonF:active, #buttonG:active, #buttonH:active {
    background-image: url("./images/button_pressed.png");
}

.col-md-1 {
    width:250px;
}